
.api-section-description {

    .classname {
      color: $color-endpoint-classname;
    }

    @include section-left-vert-border;

    header {

      @include clearfix;
      display: block;

      font-family: $font-mono;
      color: $color-almost-white;

      border-left: 3px solid #eee;
      padding-left: 1em;

      margin-bottom: $vertical-unit;

      &.method-POST {border-left-color: $color-method-post; }
      &.method-GET {border-left-color: $color-method-get; }
      &.method-PUT {border-left-color: $color-method-put; }
      &.method-DELETE {border-left-color: $color-method-delete; }

      .method {
        color: $color-half-white;
        font-weight: bold;
        margin-right: 1rem;
        float: left;
        width: 4em;
      }
      .path {
        border-radius: rem-calc(4px);
        display: inline-block;
        font-weight: bold;
        margin-right: 1rem;
        box-sizing: border;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        float: left;
      }
      .path-POST {
          background-color: $color-green;
      }
      .path-GET {
          background-color: $color-yellow;
      }
      .path-PUT {
          background-color: $color-blue;
      }
      .path-DELETE {
          background-color: $color-red;
      }
      .method-arg {
          display: inline-block;
          color: black;
          &:before {
              content: '{';
          }
          &:after {
              content: '}';
          }
      }

      .summary {
        color: $color-description-summary;
        padding-top: $vertical-unit;
        clear: left;
      }

    }

    .description {
      float: left;
    }
}
