.api-classes {}

h3.api-class-name {
  display: block;
  background-color: $color-feint-yellow;
}

.api-endpoint {
  @include clearfix;
}

.api-endpoint-description {

    position: relative;

    .endpoint {
      @include clearfix;

      font-family: $font-mono;
      color: $color-almost-white;
      padding: 5px;
      background-color: $color-dark-grey;

      .method {
        border-radius: 2px;
        display: inline-block;
        font-weight: bold;
        margin-right: 5px;
        padding-left: 5px;
        float: left;
        width: 5em;
      }

      .method-post {background-color: $color-green; }
      .method-get {background-color: $color-yellow; }
      .method-put {background-color: $color-blue; }
      .method-delete {background-color: $color-red; }

      .method-arg {

          display: inline-block;
          color: black;
          &:before {
              content: '{';
          }
          &:after {
              content: '}';
          }
      }

      .endpoint-path {
      }

    }

    .argument {
        text-align: right;
        .argument-name {
            &:after {content: ':'; }
        }
        .type {
            color: $aluminum;
            font-family: $font-mono;
        }
    }

}
