// ------------------------------------------- Mixins

@mixin section-border {
  position: absolute;
  display: block;
  left: 1rem;
  right: 1rem;
  content: " ";

  background-color: $color-api-header-separator;
  height: 1px;
  text-display: none;
  z-index: 100;
}

#main-wrapper {
  padding-left: 240px;
}

[role=main] {
  position: relative;
  margin-left: 50%;
  background-color: $color-code-bg;
}

// ------------------------------------------- Classes

// All but the first api-class
.api-class + .api-class .api-class-header{

  &:before {
    @include section-border;
    top: 0;
  }
}

.api-class-header {
  margin-top: rem-calc(64px);

  &:after {
    @include section-border;
    bottom: 0;
  }
}

.api-section-example {
  padding-top: $api-description-header-height + $api-section-padding;
  pre {
     margin-top: 0;

    code {
      margin-top: 0;
      padding-top: 0;
    }

    .curl {
      &:before {
        content: "$ "
      }
    }
  }
}
