
.api-section-description {

    .classname {
      color: $color-endpoint-classname;
    }

    &:before {
      content: ' ';
      position: absolute;
      display: block;
      left: 1em;
      top: 1px;
      right: 1em;

      border-top: 1px solid $color-gash-pale;
    }

    header {

      @include clearfix;
      display: block;

      font-family: $font-mono;
      color: $color-almost-white;

      border-left: 3px solid #eee;
      padding-left: 1em;

      margin-bottom: $vertical-unit;

      &.method-post {border-left-color: $color-method-post; }
      &.method-get {border-left-color: $color-method-get; }
      &.method-put {border-left-color: $color-method-put; }
      &.method-delete {border-left-color: $color-method-delete; }

      .method {
        color: $color-half-white;
        font-weight: bold;
        margin-right: 1rem;
        float: left;
        width: 4em;
      }
      .path {
        border-radius: rem-calc(4px);
        display: inline-block;
        font-weight: bold;
        margin-right: 1rem;
        box-sizing: border;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        float: left;
      }
      .path-post {
          background-color: $color-green;
      }
      .path-get {
          background-color: $color-yellow;
      }
      .path-put {
          background-color: $color-blue;
      }
      .path-delete {
          background-color: $color-red;
      }
      .method-arg {
          display: inline-block;
          color: black;
          &:before {
              content: '{';
          }
          &:after {
              content: '}';
          }
      }

      .summary {
        color: $color-description-summary;
        padding-top: $vertical-unit;
        clear: left;
      }

    }

    .description {
      float: left;
    }
}
