a {
  color: red;
}

a.anchor {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

dl.middle-list {

  @include clearfix;

  dt {
    display: block;
    position: relative;
    float: left;
    text-align: right;
    width: 10rem;
    margin-right: 1rem;
    font-weight: bold;
  }

  dd {
    float: left;
    .type {
      color: $aluminum;
      font-family: $font-mono;
    }
  }
}
