

#code-bar {
  position: relative;
  .sub-nav {

    @include clearfix;
    position: relative;
    max-width: 100%;
    margin-bottom: -$topbar-height/2;
    margin-top: 0;

    padding: $topbar-height 1em $vertical-unit/2 1em;;
    background-color: $codebar-color-bg;

    @media #{$media-show-nav} {
      padding-left: rem-calc($nav-section-width) + 1rem;
    }

    @media #{$media-split-sections} {
      @include radius($codebar-radius);
      padding-top: 0;
      padding-left: 1em;
      margin-bottom: 0;
      z-index: 30;
      top: $topbar-height;
      position: fixed;
      max-width: 37%;
      max-width: calc(50% - #{$nav-section-width/2} - 1em);
      right: 0.5em;
    }


    // Put it to the right under the top-bar

    dd + dd {
      margin-left: 1em;
    }

    dd {
      float: left;
      a {
        padding: $vertical-unit/4 0.5em;
        color: $codebar-color-text;
      }
      &.active a, a:hover {
          @include radius($codebar-radius);
          color: $codebar-color-text-highlight;
      }

      &.active a{
        background: $codebar-color-main;
      }
      a:hover {
          cursor: pointer;
          background: scale-color($codebar-color-main, $lightness: 15%);
      }


    }

  }
}
