.params {
  background-color: $white-smoke;
  padding-top: $vertical-unit/2;
  padding-bottom: $vertical-unit/2;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: rem-calc(4px);
}
.params-path {

}
.params-body {

}
