// ------------------------------------------- Mixins
@mixin api-section-shared {
    position: relative;
    width: 50%;
    padding: $api-section-padding;
    // border-top: 1px solid $color-almost-white;
}

.api-section {
  @include clearfix;
  margin-left: -100%;
  position: relative;
   &:last-child {
    position: relative;
    height: 100%;
   }
}

.api-section-left {
  @include api-section-shared;
  float: left;
  z-index: 20;
}

.api-section-right {
  @include api-section-shared;
  margin-left: 50%;
}

#toc-wrapper {
  background-color: white;
  width: 240px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
