[role=navigation] {
  background-color: white;
  border-right: 1px solid $color-trans-black;
  min-height: 100%;
}

dl.side-nav {

  margin: 0;
  padding: 2.5*$vertical-unit 0;

  dt {
    margin: 0;
    padding: $vertical-unit/2;

    color: $color-dark-grey;
    font-weight: bold;

    cursor: pointer;

    &:hover {
      background-color: $color-trans-black;
    }

  }

  dt + div {

    overflow: hidden;

    dd {

      margin: 0;

      & > a{

        color: $color-toc-links;
        display: block;
        padding: $vertical-unit/3 0 $vertical-unit/3 2em;
        text-decoration: none;

        &:hover, &.nav-active {
         background-color: rgba(0,0,0,0.14) ;
        }

        &.method-icon {
          &:before {
            position: relative;
            display: inline-block;
            font-family: $font-mono;

            color: white;

            font-size: 0.7em;
            width: 1.3em;
            line-height: 1.4em;
            left: -0.4em;
            top: 0;
            border-radius: rem-calc(3px);

            text-align: center;
          }

        }
        &.method-post {
          &:before {
            content: "P";
            background-color: $color-green;
          }
        }
        &.method-put {
          &:before {
            content: "P";
            background-color: $color-blue;
          }
        }
        &.method-get {
          &:before {
            content: "G";
            background-color: $color-yellow;
          }
        }
        &.method-delete {
          &:before {
            content: "D";
            background-color: $color-red;
          }
        }
        &.method-model {
          &:before {
            content: "-";
            background-color: $color-purple;
          }
        }
      }
    }
  }
}
