@import "settings";
// @import "foundation";

// Behold, here are all the Foundation components.

  @import "foundation/components/grid";
  // @import "foundation/components/accordion";
  // @import "foundation/components/alert-boxes";
  @import "foundation/components/block-grid";
  // @import "foundation/components/breadcrumbs";
  // @import "foundation/components/button-groups";
  // @import "foundation/components/buttons";
  @import "foundation/components/clearing";
  // @import "foundation/components/dropdown";
  // @import "foundation/components/dropdown-buttons";
  // @import "foundation/components/flex-video";
  // @import "foundation/components/forms";
  // @import "foundation/components/icon-bar";
  // @import "foundation/components/inline-lists";
  // @import "foundation/components/joyride";
  // @import "foundation/components/keystrokes";
  @import "foundation/components/labels";
  // @import "foundation/components/magellan";
  // @import "foundation/components/orbit";
  // @import "foundation/components/pagination";
  // @import "foundation/components/panels";
  // @import "foundation/components/pricing-tables";
  // @import "foundation/components/progress-bars";
  // @import "foundation/components/range-slider";
  // @import "foundation/components/reveal";
  @import "foundation/components/side-nav";
  // @import "foundation/components/split-buttons";
  // @import "foundation/components/sub-nav";
  // @import "foundation/components/switches";
  @import "foundation/components/tables";
  // @import "foundation/components/tabs";
  // @import "foundation/components/thumbs";
  // @import "foundation/components/tooltips";
  @import "foundation/components/top-bar";
  // @import "foundation/components/type";
  // @import "foundation/components/offcanvas";
  // @import "foundation/components/visibility";

// My settings

$font-mono: 'Source Sans Pro' mono;
$color-green: #78DD45;
$color-blue: #4578dd;

#top-bar {
	padding-left: 240px;
	max-height: rem-calc(64px);
	height: rem-calc(64px);
	margin-bottom: rem-calc(256px - 64px);
	background-color:$color-green;
} 

.content {
  	padding-left: 240px;
  	float: left;

}

.api-docs {
	margin-left: 50%;
} 

#toc-wrapper { 
	background-color: white;
	width: 240px;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 10;
	border-right: 1px solid rgba(0,0,0,0.4);
}

#code-examples {
	display: relative;
	margin-left: 50%;
	width: 50%;
	background: #333;
}

.api-block {

	position: relative;

	& .method {
		font-weight: bold;
	}

	& .method-post { 
		background-color: $color-green;
	}

	& .endpoint {
		font-family: $font-mono;
		padding: 5px;
		background-color: $color-blue;
		& .method-arg {

			display: inline-block;
			color: black;
			&:before {
				content: '{';
			}
			&:after {
				content: '}';
			}
		}
	}

	& .argument {
		text-align: right;
		& .argument-name {
			&:after {content: ':'; }
		}
		& .type {
			color: $aluminum;
			font-family: $font-mono;
		}
	}

}

.code {
	color: #fff;
	background-color: #123123;
}

