<div id="api-class-{{classname}}" class="api-class">
  <h3 class="api-class-name">
    {{classname}}
  </h3>

  {{# operations }}
    {{# operation }}
      {{>api-endpoint}}
    {{/ operation }}
  {{/ operations }}

</div>
