<div class="api-section">

<a class="anchor" id="api-path-{{operationId}}">&nbsp;</a>

  <div class="api-section-description api-section-left">

    <h4 class="classname">{{classname}}</h4>
    <div class="endpoint">
      <span class="method">{{httpMethod}}</span>
      <span class="path path-{{httpMethod}}"> {{path}} </span>
    </div>

    <p class="summary">{{summary}}</p>

<h4 class="params-params" {{^ pathParams }}style="display: none;"{{/pathParams }} >
  Path Params
</h4>

{{#pathParams}}
  <dl class="middle-list">

    <dt> {{paramName}} </dt>
    <dd>
          <div class="type">{{dataType}}</div>
          <p> {{description}} </p>
     </dd>

  </dl>
{{/pathParams}}

<h4 class="params-body" {{^ bodyParams }}style="display: none;"{{/bodyParams}} >
  Body Params
</h4>

{{#bodyParams}}
  <dl class="argument">

    <dt class="argument-name-type-wrapper">
      <div class="argument-name">{{paramName}}</div>
      <div class="argument-type">{{dataType}}</div>
    </dt>

    <p class="description"> {{description}} </p>
  </dl>
{{/bodyParams}}

  </div>


  <div class="api-section-example api-section-right">
    <pre><code class="highlight-js bash curl">{{>curl}}</code></pre></div>
</div>

