<div id="api-class-{{classname}}" class="api-class">

<div class="api-section">
  <header class="api-section-left api-class-header">
    <h3 class="api-class-name">{{classname}}</h3>
    <h3>Uses: {{#imports}}{{import}} {{/imports}}</h3>
  </header>
</div>

  {{# operations }}
    {{# operation }}
      {{>api-endpoint}}
    {{/ operation }}
  {{/ operations }}

</div>
