<div class="api-endpoint">

  <div class="api-endpoint-description">

    <div class="endpoint">
      <span class="method">{{httpMethod}}</span>
      <span class="path path-{{httpMethod}}"> {{path}} </span>
    </div>

    <p class="summary"> {{summary}} </p>

{{#pathParams}}
    <div class="argument-name">{{paramName}}</div>
    <div class="type">{{dataType}}</div>
    <p class="description"> {{description}} </p>
{{/pathParams}}

{{# bodyParams }}
    <div class="body-param">
      <div class="body-paray">{{dataType}}</div>
      <div class="body-param-description">{{description}}</div>
    </div>
{{/ bodyParams }}

  </div>


  <div class="api-endpoint-example">
    <h3>Code Examples</h3>
  </div>


</div>

