<div class="api-endpoint">

  <div class="api-endpoint-description">

    <div class="endpoint">
      <h3 class="method">{{httpMethod}}</h3>
      <h3 class="path path-{{httpMethod}}"> {{path}} </h3>
    </div>

    <p class="summary"> {{summary}} </p>

{{#pathParams}}
    <div class="argument-name">{{paramName}}</div>
    <div class="type">{{dataType}}</div>
    <p class="description"> {{description}} </p>
{{/pathParams}}

{{# bodyParams }}
    <div class="body-param">
      <div class="body-paray">{{dataType}}</div>
      <div class="body-param-description">{{description}}</div>
    </div>
{{/ bodyParams }}

  </div>


  <div class="api-endpoint-example">
    <pre> <code class="highlight-js javascript">
      var something = 'something';
    </code> </pre>
  </div>


</div>

