
<div id="wrapper">

  <header > {{>top-bar}} </header>

  <aside id="nav-wrapper">
    {{>toc}}
  </aside>

  <div id="main-wrapper">
    <section role="main">

      <div id="api-classes">
        {{#apiInfo.apis}}
          {{>api-class }}
        {{/apiInfo.apis}}
      </div>

      <div id="api-models">
        {{#models}}
          {{#model}}
            {{>model}}
          {{/model}}
        {{/models}}
     </div>

    </section>
  </div>

</div>

{{>load-code-scripts}}
{{>code-sample}}

<script>
  {{>app_js}}
</script>
