
<div id="wrapper" class="show-lang-curl">

  <header >
    {{>top-bar}}
    {{>code-bar}}
  </header>

  <aside id="nav-wrapper">
    {{>logo}}
    {{>toc}}
  </aside>

  <div id="main-wrapper">
    <section role="main">

    {{>intro}}

      <div id="api-classes">
        {{#apiInfo.apis}}
          {{>api-class }}
        {{/apiInfo.apis}}
      </div>

      <div id="api-models">
        {{#models}}
          {{#model}}
            {{>model}}
          {{/model}}
        {{/models}}
     </div>

    </section>
  </div>

</div>

{{>code-samples}}

<script src="assets/jquery.min.js" type='text/javascript'></script>
<script src="assets/highlight.min.js" type='text/javascript'></script>

<!-- Our code, remember to call 'app_setup()', when you're the page is ready... -->
<script src="assets/app.js" type='text/javascript'></script>

