<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{appName}} - Docs</title>

    <link rel="stylesheet" href="highlight.css" />
    <link rel="stylesheet" href="app.css" />
  </head>

  <body>

    {{>core}}

    <script type='text/javascript'>
      // app_setup should be found in app.js
      $(document.body).promise().done(app_setup);
    </script>
  </body>

  </html>
