<header id="top-bar"> {{>top-bar}} </header>

<aside id="toc"> {{>toc}} </aside>

<div id="main-wrapper">
  <section role="main">

    {{#apiInfo.apis}}
      {{>api-class }}
    {{/apiInfo.apis}}

  </section>
</div>
