<nav id="toc-wrapper" >
  <ul class="toc side-nav">
{{#apiInfo.apis}}
    <li>
      <a href="#api-class-{{classname}}">{{classname}}</a>
      <ul>

  {{# operations }}
    {{# operation }}
      <li><a href="#api-path-{{operationId}}">{{path}}</a></li>
    {{/ operation }}
  {{/ operations }}
    </ul> </li>
{{/apiInfo.apis}}
  </ul>
</nav>
