<nav id="toc-wrapper" >
  <dl class="toc side-nav">
    {{#apiInfo.apis}}
      <dt class="toc-api-classname"> {{classname}} </dt>
        <div class="toc-api-endpoints">
          {{# operations }}
            {{# operation }}
              <dd> <a class="endpoint" href="#api-path-{{operationId}}"><span class="method-icon method-{{httpMethod}}"></span>{{operationId}}</a> </dd>
            {{/ operation }}
          {{/ operations }}
        </div>
    {{/apiInfo.apis}}
  </dl>
</nav>
