<nav class="top-bar" id="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">{{appName}}</a></h1>
    </li>
    <li ><a href="#" class="left menu-icon" ></a></li>
  </ul>
</nav>
